@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 text-gray-900;
  }
}

/* Print styles */
@media print {
  @page {
    margin: 0;
    size: auto;
  }

  body {
    @apply bg-white;
  }

  .no-print {
    display: none !important;
  }

  .print-page-break {
    page-break-after: always;
  }
}
